.container-fluid {
.bg-overlay {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("images/black1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 400px;
    padding-top: 140px;
}


ul {
	list-style: none;
	margin-top: 50px;
}

li {
	display: inline;
}